* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1d1d8;
}

.header__logo {
  padding-left: 40px;
  padding-top: 24px;
  padding-bottom: 17px;
}

.header__nav ul {
  display: flex;
  list-style: none;
  gap: 41px;
}

.header__nav a {
  text-decoration: none;
  font-family: Proxima Nova;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #17183b;
  text-transform: uppercase;
}

.header__actions {
  display: flex;
  align-items: center;
  padding-right: 40px;
  gap: 40px;
}

.header__actions-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: block;
}

.header__actions-divider {
  width: 1px;
  height: 80px;
  background-color: #d1d1d8;
}

.main {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

.back-button {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.product__breadcrumbs {
  gap: 24px;
}

.product__breadcrumbs-link {
  font-family: Proxima Nova;
  font-weight: 600;
  font-style: Semibold;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #9a9a9e;
}

.product__breadcrumbs-current {
  color: #17183b;
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 54px;
  padding: 0 80px;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  gap: 24px;
}

.slider {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 11px;
}

.slider__arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.slider__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.product {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  gap: 40px;
}
.product-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 440px;
  width: 100%;
  align-items: flex-start;
}
.product-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  max-width: calc(100%);
  width: 100%;
}

.product__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product__info h2 {
  font-family: Proxima Nova;
  font-weight: 700;
  font-style: Bold;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0%;
  margin-top: 76px;
}
.product__description {
  font-family: Proxima Nova;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
.product__meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  font-family: Proxima Nova;
  font-weight: 600;
  font-style: Semibold;
  font-size: 24px;
}

.product__price {
  justify-content: space-between;
  font-family: Proxima Nova;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.15px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rating__stars {
  color: #ffc41f;
  font-size: 20px;
  letter-spacing: 2px;
}

.rating__score {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 16px;
  color: #17183b;
}

.rating__reviews {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 16px;
  color: #a2a3b1;
}

.product__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.product__colors {
  margin-top: 32px;
}

.product__actions {
  display: flex;
  align-items: center;
  gap: 24px;
  border: none;
  margin-top: 32px;
  margin-bottom: 32px;
}

.product__actions-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 160px;
  height: 52px;
  border: 1px solid #a2a3b1;
  border-radius: 4px;
  font-size: 20px;
  color: #17183b;
  cursor: pointer;
  padding: 0 16px;
}
.product__information-day {
  font-family: Proxima Nova;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  margin-bottom: 79px;
  line-height: 24px;
  letter-spacing: 0px;
}

.product__actions-count-btn {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  color: #17183b;
  cursor: pointer;
  padding: 5px;
}

.product__actions-count-value {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 16px;
  color: #17183b;
}

.product__actions-add-to-cart {
  background-color: rgb(136, 112, 112);
  color: white;
  border-radius: 4px;
  width: 164px;
  height: 52px;
  border: none;
  cursor: pointer;
}

.product-right__fon-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-right__fon-img svg {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.product-right__fon-img {
  width: 100%;
}

.product-right__fon-img img {
  position: relative;
  z-index: 1;
}
.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.wishlist-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.product__thumbnails {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  margin-right: 80px;
}
.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 104px;
  height: 104px;
  opacity: 1;
  border-radius: 5px;
  border: 1px solid #c5c3b9;
}
.thumbnail-active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 104px;
  height: 104px;
  opacity: 1;
  border-radius: 5px;
  border: 2px solid #918468;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.thumbnail-active img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.